<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{.Titel}} | {{.SeitenName}}</title>
<link href="./static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
<h1>{{.SeitenName}}</h1>
    </header>

    <main>
         <nav>
        {{.Nav}}
         </nav>
        <article>
            <h2>{{.Titel}}</h2>
            {{.Inhalt}}
        </article>
    </main>
</body>

</html>