header {
    background-color: black;
    color : white;

}
main {
    position: relative;
  }

    nav {
     
        position: absolute;
        left: 0px;
        width: 350px;
       
      }
article {
    margin-left: 350px;
}